.detail_money{
	width:100%;
	overflow: hidden;
	line-height: 5.546667rem;
	color:#0090ff;
	font-size: 2.048rem;
	text-align: center;
	position: relative;
}
.detail_money p{
	height: 4.693333rem;
}
.detail_money p span:first-child{
	width: 0.554667rem;
	height: 0.554667rem;
	display: inline-block;
}
.detail_money p span:nth-child(2){
	color:#0090ff;
	font-size: 2.048rem;
	text-align: center;	
}

/*费用详情字段*/
.detail_tit{
	position: relative;
	height:0.426667rem;
	width:12.8rem;
	border-bottom: 1px solid #e9e9e9;
	margin:0 auto;
}

.detail_txt{
	width:4.437333rem;
	height:0.853333rem;
	font-size:0.597333rem;
	text-align: center;
	color:#9b9b9b;
	background: #fff;
	z-index:1;
	position: absolute;
	left:50%;
	margin-left:-2.218667rem;
	bottom:-0.426667rem;
}
.detail_cost{
	width:12.8rem;
	margin:0 auto;
	height:1.792rem;
	font-size:0.597333rem;
	color:#9b9b9b;
	padding-top: 0.981333rem;
	font-weight: 300;
}
.detail_cost.activity{
	padding-top: 0.512rem;
}
/*
以优惠**元
 */
.detail_promotion_tag{
	width:5.12rem;
	height:0.853333rem;
	background: #eb2828;
	margin:0 auto;
	text-align: center;
	border-radius: 100px;
	margin-bottom: 0.682667rem;
	font-size:0.512rem;	
	line-height: 0.853333rem;
}
.hide{
	display: none;
}
.detail_promotion_tag span{
	color:#fff;

}
.detail_promotion_tag.detail_promotion_tagHide{
	visibility: hidden;
}
.dc_left{
	float:left;
	width:70%;
	height:100%;
}
.dc_right{
	float:right;
	width:28%;
	height:100%;
	line-height:1.792rem ;
	text-align: right;
}
.dc_left_list li{
	margin-bottom: 2px;
}
.promotionId,.promotionList{
	width:12.8rem;
	margin:0 auto;
	height:0.853333rem;
}
.promotionId{
	margin-top:0.512rem;
}
/*

无优惠券
 */
.promotionId.promotionIdHide{
	display: none;
}
.promotionId p,.promotionList p{

	line-height: 1.0rem;
	color:#0090ff;
	font-size: 0.597333rem;
	font-weight: 300;
}
.left{
	float:left;
}
.right{
	float:right;
}
.right span{
	color:#0090ff;
}
.promotionList{
	margin-top:3.84rem;
}
.promotionList p:last-child span{
	color:#9b9b9b;
}
/*优惠卷列表按钮*/
.pro_icon{
	width:1.024rem;
	height:1.024rem;
	display: inline-block;
	background: url(../img/proNext.png) no-repeat center;
	background-size: 100% 100%; 
	float:right;
	vertical-align: text-top;
	margin-left:0.106667rem;
}
/*微信支付按钮*/
.costBtn {
	height: 3.84rem;
	/*width: 11.946667rem;*/
	margin: 0 auto;
	margin-top: 4.266667rem;
	text-align: center;
}
.costBtnTit{
	width: 100%;
	text-align: center;
	color:#a6aaa9;
	font-size: 0.512rem;
	margin-bottom: 0.853333rem;
}
.costBtnC {
	color: #fff;
	border: none;
	width: 11.946667rem;
	height: 2.133333rem;	
	text-align: center;
	font-size: 0.682667rem;
	text-indent: 1.408rem;
	outline: none;
    background-color: #0090ff;
    border-radius: 5px;
}
/**/
#detail .detail{
	width:100%;
	height:100%;
	position: relative;
}
div.detail.active{
	transform: translateX(-100%);
}

.pay-btn {
    width: 14.293333rem;
    height: 2.133333rem;
    background-color: #0090ff;
    border: 0;
    border-radius: 0.213333rem;
    outline: none;
}
.pay-text {
    display: inline-block;
    width: 3.584rem;
    height: 0.810667rem;
    vertical-align: middle;
    margin-left: 0.213333rem;
    font-family: 'PingFang SC';
    font-size: 0.682667rem;
    color: #fff;
}